#cartwidget {
  display: flex;
}

#cartwidget img {
  height: 20px;
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.navbar li {
  padding: 1rem;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
}

div img {
  height: 5rem;
  align-self: flex-start;
  margin-left: 1rem;
}
