.info-container {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-terminar {
  text-decoration: none;
  background-color: #00adb5;
  color: #fff;
  border-radius: 6px;
  border: 0px;
  margin: 1rem;
  padding: 0.2rem;
  width: 10rem;
}

.button-terminar:hover {
  background-color: #027b81;
}

.imagen:hover{
  transition: transform .9s ease;
  transform: scale(1.1);
}