.no-existe {
  text-align: center;
  margin-top: 10rem;
}

.no-existe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-existe-container button {
  border: none;
  outline: none;
  background-color: #00adb5;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #036368;
  margin-top: 1rem;
  text-decoration: none;
}
.no-existe-container button:active {
  margin-top: 1rem;
  transform: translateY(10px);
  box-shadow: 0px 0px 0px 0px #00adb5;
}

.no-existe-container a {
  text-decoration: none;
  color: #fff;
}
