.container-navbar{
  margin-top: 2rem;
}

.logo-container {
  flex: 0 0 auto;
}

.navbar {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 2rem;
}

.navbar li a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.navbar li a:hover {
  color: #00ADB5;
}


#cartwidget {
  display: flex;
}

.cart-widget-container {
  flex: 0 0 auto;
}

.navbar-logo {
  height: 4rem;
  margin-left: 2rem;
}

